<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="1" name="/Users/pnrpramod/Code/SolveTheGame">
        <classes>
            <class name="solve.the.game.GameTest"></class>
        </classes>
    </test>

</suite>